
textarea {
    overflow:hidden;
}

button {
    color:#ffdd44;
}

/*#box1 {
    border-radius: 2px;
    box-shadow: -4px 4px 8px 1px #404040;
    width: 100px;
}*/

/*h6 {
    color: #ffdd44;
}*/

h5 {
    color: #ffdd44;
}

/*li {
    margin-left:10px;
    display: inline;
    float: left;
}*/
